<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- TODO: Replace Data Source with your SQL Server instance -->
    <add name="MedicalDBConn" connectionString="Data Source=.;Initial Catalog=MedicalDB;Integrated Security=True" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>